<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Game Profiles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    <!-- Add Banner -->
    <div class="banner-div">
        <img src="{{ url_for('static', filename='images/steam-logo-welcome-banner.jpg') }}" alt="Steam Welcome Banner">
    </div>

    <h1 class="dashboard-text">Welcome to Steam Game Profiles</h1>

    <!-- Form for Steam App ID and API Key -->
    <form action="{{ url_for('profile') }}" method="get">
        <label for="appid" class="form-label">Enter Steam App ID:</label>
        <input type="text" id="appid" name="appid" required>
        <br>
        <label for="api_key" class="form-label">Enter Steam API Key:</label>
        <input type="text" id="api_key" name="api_key" required>
        <br>
        <input type="submit" value="Get Profile">
    </form>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
